.initial-banner{
    justify-content: space-between;
    justify-items: center;
    align-items: flex-start;
    margin-bottom: 10%;
    display: grid;
    gap: 50px;
    margin-top: 34px;

    .subtitle{
        font-size: clamp(10px, 2vw, 20px);
    }
}
.side-title{
    width: 80%;
    max-width: 690px;
}
.side-info{
    align-self: center;
    flex-direction: column;
    align-items: stretch;
    width: 70%;
    display: block;
}

.portfolio-info{
    border-bottom: 1px solid #615AA4;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: clamp(10px, 1, 30px);
    line-height: 2;
}

.info{
    margin-right: 5px;
    color: #615AA4;
    text-align: left;
    object-fit: fill;
}

.info2{
    text-align: right !important;
    color: #615AA4;
    text-align: left;
    object-fit: fill;
}

.division-line{
    margin-top: 3em;
    margin-bottom: 3em;
    border-bottom: 1px solid #615AA4;
}

#about-project{
    padding-top: 6em ;
    padding-bottom: 6em ;
    color: white;
    text-align: center;
}

#about-project-subtitle{
    line-height: 1.5;
    color: white;
    font-size: clamp(10px, 4vw, 20px);
}

#buttons-project{
    padding: 3em 0 3em 0;
    align-items: center;
    justify-content:  space-around;
}

.portfolio-presentation{
    justify-content: center;
    justify-items: center;
}

.videos{
    padding-left: 6vw;
}

#portfolio-image-presentation{
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
}

.portfolio-video{
    width: 43.333vw;
    aspect-ratio: auto;
}

@media (min-width: 800px) {
    .initial-banner{
        grid-template-columns: 1.5fr 1fr;
    }
}